// MAIN COLORS
$white: #e7eaee;
$black: #000000;
$light-gray: #b8c0cc;
$gray: #5e5e5e;
$dark-gray: #424242;
$dark-blue: #181c23;
$purple: #b2bbff;

// ADDITIONAL VARIABLES
$headerGradient: rgba(0, 0, 0, 0.9);
$gray-bg: #3a3c43;
$darker-gray-bg: #303238;
$gray-border: #64748b;
$about-mobile-bg: #272a31;
