.faq {
  @include flex(row, 5rem, $align: flex-start, $justify: space-between);
  max-width: 1440px;
  margin: 0 auto;
  padding: 1.875rem 2.5rem;

  &__img img {
    @include size($w: 327px, $h: 764px);
    max-width: none;
  }

  &__right {
    width: 100%;
    max-width: 750px;
    color: $white;

    &__upperheading {
      @include text(1rem, 400);
      font-style: italic;
      margin: 0 0 0.25rem 0;
    }
    &__heading {
      @include text(2.5rem, 800, $lh: 1);
      text-transform: uppercase;
      margin: 0 0 1.5rem 0;
    }
    &__label {
      @include text(1.125rem, $lh: 1.4);
      margin: 0 0 1.125rem 0;
    }
  }
}

.faq__list {
  @include flex(column, 0.25rem);
}

.question {
  &__wrapper {
    @include flex(column, 1rem);
  }
  @include flex(row, 1rem, $align: center, $justify: space-between);
  padding: 1.5rem 1rem;
  background-color: $gray-bg;
  border: 1px solid $gray-border;
  cursor: pointer;
  border-radius: 0.25rem;
  font-weight: 500;

  &:hover {
    background-color: $darker-gray-bg;
  }
  &__label {
    max-width: 800px;
    color: $white;
    margin: 0;
    overflow-wrap: break-word;
    white-space: normal;
    line-height: 1;
  }

  &__icon {
    flex-shrink: 0;
  }
}

.answer {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out 0.1s;

  &.open {
    max-height: 1000px;
    opacity: 1;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  & p {
    margin: 0 0 1rem 0;
    line-height: 1.2;
  }
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  .faq {
    @include flex(column, 0, center);
    padding: 1.875rem 1rem;

    &__img {
      height: 350px;
      overflow: hidden;
    }
    &__img img {
      @include size($w: 250px, $h: 584px);
    }

    &__right {
      &__upperheading {
        @include text(0.75rem, $align: center);
      }
      &__heading {
        @include text(1.75rem, $align: center);
      }
      &__label {
        font-size: 1rem;
      }
    }
  }
}
@media screen and (min-width: 600px) and (max-width: 960px) {
  .faq {
    padding: 1.875rem 1rem;
    gap: 2rem;

    &__img img {
      @include size($w: auto, $h: auto);
      max-width: 100%;
    }
  }
}
@media screen and (min-width: 1280px) {
  .faq {
    padding: 1.875rem 5rem;
    gap: 10rem;
  }
}
