.modal {
  @include size($w: 100%, $h: 100%);
  display: none;
  position: fixed;
  z-index: 1000;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  overflow-y: auto;

  &__content {
    color: $white;
    position: relative;
    background: $bg-modal;
    width: 92%;
    max-width: 400px;
    margin: 8vh auto;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);

    h2 {
      font-size: clamp(1.2rem, 2vw, 1.6rem);
      text-align: center;
      margin-top: 0;
      margin-bottom: 1.5rem;
      text-transform: uppercase;
    }

    form {
      @include flex(column, 1rem);
    }

    label {
      @include text(clamp(0.9rem, 1.5vw, 1rem), 600);
    }

    input {
      padding: 0.65rem;
      font-size: clamp(0.95rem, 1.4vw, 1.05rem);
      border: 1px solid $light-gray;
      border-radius: 6px;
    }

    button[type="submit"] {
      @include text(clamp(1rem, 1.6vw, 1.1rem), 900, $color: $black);
      margin-top: 1rem;
      padding: 0.8rem;
      background: $buttonGradientPurple;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        box-shadow: $purpleButtonShadow;
      }
    }
  }

  &__close {
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    font-size: clamp(1.5rem, 3vw, 2rem);
    color: $white;
    cursor: pointer;
    line-height: 1;
  }
}
